<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_collapsible.css') }}">

    <title>ÇA FONCTIONE</title>
    <link rel="icon" href="{{ url_for('static', filename='shop-four-tiles.svg') }}" type="image/x-icon">
</head>



<body>
    <header>
        <h1>MechaDelivery de ses morts </h1>
        <p>Je sais pas. </p>
    
        <div class="button-container">
            <button class="orangebutton" onclick="window.location.href='/'">🏠 Return Home</button>
            <button class="orangebutton" onclick="executeScript()">🐍 Run Script</button>
        </div>
        <p id="response"></p>

    </header>

    <main>
        <div id="markdown-content">
            {{ content|safe }}
        </div>

        <br>

    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='script_collapsible.js') }}"></script>
</body>



</html>
