<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MechaDelivery</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style_police.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style_home.css') }}" />
</head>
<body>
  <!-- SECTION 2 -->
  <section class="box-section">
    <div class="bottom-div">
      <div class="content">
        <h1 class="welcome">Bienvenue ! </h1>
        <p>Veuillez choisir : </p>
        <ul class="liste-smooth">
          <li id="client"> <a href="client">Client</a> </li>
          <li id="vendeur"> <a href="vendeur">Vendeur</a> </li>
          <li id="dev"> <a href="dev">Développeur</a> </li>
        </ul>
        <p id="doc">
          Ou regardez la <a href="docs">documentation</a>
        </p>
      </div>
    </div>
  </section>

  <script src="{{ url_for('static', filename='script/script_home.js') }}"></script>
</body>
</html>
