 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style_police.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style_dev.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style_collapsible.css') }}">

    <title>MechaDelivery-Dev</title>
    <link rel="icon" href="{{ url_for('static', filename='shop-four-tiles.svg') }}" type="image/x-icon">
</head>



<body>
    <header>
        <h1>🍱 MechaDelivery-Dev </h1>

        <p>Du texte. </p>

        <div class="button-container">
            <button class="orangebutton" onclick="window.location.href='/'">🏠 Return Home</button>
            <button class="orangebutton" onclick="window.location.href='/view_ips'">🌐 Adresses IP</button>
<!--             <button class="orangebutton" onclick="executeScript()">🐍 Run Script</button> -->
<!--             <button class="orangebutton" onclick="moteurMarche()">🐍 Moteur Marche</button> -->
        </div>
        <p id="response"></p>

    </header>

    <main>
        <button class="orangebutton" onclick="sendPlans()">🐍 Envoyer le(s) plan(s)</button>
        <p id="response_plans"></p>
    </main>
</body>

<script src="{{ url_for('static', filename='script/dev_send_script.js') }}"></script>

</html>
