<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MechaDelivery</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style_police.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style_home.css') }}" />
</head>
<body>
  <!-- SECTION 1 -->
  <section class="top-section">
    <div class="header">
      <div class="left-title"><h1>MechaDelivery</h1></div>
      <div class="right-box"><h3>Livraison à l'ESIEE</h3></div>
    </div>
    <!-- <img src="{{ url_for('static', filename='PotiRoboV3.svg') }}" alt="Robot Background" /> -->
    <!-- <p><a href="/choix">Commencer</a></p> -->
    <button class="orangebutton" onclick="window.location.href='/choix'">🍱 Commencer</button>
  </section>

  <script src="{{ url_for('static', filename='script/script_home.js') }}"></script>
</body>
</html>
