<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MechaDelivery</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style_police.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style_home.css') }}" />
</head>
<body>
  <section class="box-section">
    <div class="foreground">

      <div class="item-array">
        <div class="left-div">
          <h1>MechaDelivery</h1>
        </div>
        <div class="right-div">
          <h3>Livraison à l'ESIEE</h3>
        </div>
      </div>
      
      <div class="item-centered">
        <div class="bottom-div">
          <button class="orangebutton" onclick="window.location.href='/choix'">🍱 Commencer</button>
        </div>
      </div>

    </div>
    
    <div class="background">
      <img src="{{ url_for('static', filename='PotiRoboV3.svg') }}" alt="Robot Background" />
    </div>
  </section>

  <script src="{{ url_for('static', filename='script/script_home.js') }}"></script>
</body>
</html>
