<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MechaDelivery</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style_police.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style_home.css') }}" />
</head>
<body>
  <!-- SECTION 1 -->
  <section class="top-section">
    <div class="header">
      <div class="left-title">MechaDelivery</div>
      <div class="right-box">Description RAPIDE</div>
    </div>
    <div class="bg-text">(Robot en arrière-plan)</div>
    <p><a href="/choix">Commencer</a></p>
  </section>

  <script src="{{ url_for('static', filename='script/script_home.js') }}"></script>
</body>
</html>
