#canvas-box {
    width: 400px; /* 10*40px */
    height: 300px; /* /* 10*30px */
    border: 10px solid oklch(0.6278 0.235478 32.3801 / 10%);
    justify-content: center; /* Center items vertically */;
}

canvas {
    width: 400px; /* 10*40px */
    height: 300px; /* /* 10*30px */
    image-rendering: pixelated; /* nearest neighbor scaling */
}

#pixelCursor {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: gray;
    display: none;
    pointer-events: none;
}
